.campo-texto {
    margin: 24px, 0; /*MARGEM PARA CIMA E PARA BAIXO 24PX E 0PX PROS LADOS*/
}

.campo-texto label {
    /*PARA QUEBRAR LINHA E NAO FICA DO LADO DO OUTRO USA-SE DISPLAY BLOCK*/
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campo-texto input {
    background-color: #fff;
    /*ADICIONAR O SOMBRIADO*/
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    /*PEGA 100% DA TELA, OU SEJA, QUEM VAI DIZER O TAMANHO VAI SER O TAMANHO DO COMPONENTE PAI*/
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    /*PARA ELE TER O TAMANHO DE 100% LEVANDO EM CONSIDERAÇÃO O PADDING E MARGING*/
    box-sizing: border-box;
}